/*
  This is the CSS for index.html
*/

.grid-container
{
  display: grid;
  /*
    Header, navbar lines, and footer should stay the same between each page.
    Left/middle/right represent the layout of the page, you can re-arrange
    per page, or even add more by creating an element with a class in html,
    and giving it grid-area: x in css.
    For example:
      === HTML ===
      <div class='under_main'>
      </div>

      === CSS ===
      grid-template-areas:
        'header header header header header'
        'navbar1 navbar2 navbar3 navbar4 navbar5'
        'left middle middle middle right'
        'under under under under under'
        'footer footer footer footer footer';
      ...
      .under_main
      {
        grid-area: under;
      }
  */
  grid-template-areas:
    'header header header header header'
    'navbar1 navbar2 navbar3 navbar4 navbar5'
    'left middle middle middle right'
    'footer footer footer footer footer';
}



.middle
{
  text-align: center; /* temporary */
}
