
.left
{
  grid-area: left;
}

.middle
{
  grid-area: middle;
}

.right
{
  grid-area: right;
}

.footer {
    grid-area: footer;
}

.grid-container
{
  all:unset;
  display: grid;
  grid-template-areas:
    'left middle middle middle right'
    'footer footer footer footer footer';
}


.left, .right
{
  margin: 0px var(--lr_padding);
}

.left, .middle, .right
{
  margin-top: 75px;
  margin-bottom: 75px;
  height: 500px;
  background-color: #eee;
}

.footer {
  grid-area: footer;
  background-color: var(--color_scheme1);
  padding: 100px;
  text-align: center;
}


