/*
  This is the CSS for all webpages
  TODO: change 'px' to something better for scaling/mobile
  TODO: add @media to rearange the css grid
*/

:root
{
  /* TODO: change this variable name to lr_margin */
  --lr_padding: 20%;    /* left-right padding */

  --color_light: #efeef1;    /* temporary (stolen from petfinder) */
  --color_scheme1: #6504b5;  /* temporary (stolen from petfinder) */
  --color_scheme1_light: #7514c5;
  --color_scheme1_lighter: #a544f5;
  --color_button: #20ccf8;  /* temporary (stolen from petfinder) */
  --color_font: #333;
}

html, body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header
{
  grid-area: header;
}

.header h1
{
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: var(--color_dark);
  text-align: center;
}

#navbar1 { grid-area: navbar1 }
#navbar2 { grid-area: navbar2 }
#navbar3 { grid-area: navbar3 }
#navbar4 { grid-area: navbar4 }
#navbar5 { grid-area: navbar5 }

.navbar
{
  background-color: var(--color_scheme1);
  padding: 30px 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: var(--color_light);
  border: 5px solid transparent; /* this is here so the element doesn't
   move when :hover and border: 5px solid is triggered */
  transition: 0.5s;
}

.navbar:hover
{
  color: #fff;
  border: 5px solid var(--color_scheme1_lighter);
  background-color: var(--color_scheme1_light);;
  transition: 0.5s;
}

.left, .right
{
  margin: 0px var(--lr_padding);
}

.left
{
  grid-area: left;
}

.middle
{
  grid-area: middle;
}

.right
{
  grid-area: right;
}

.left, .middle, .right
{
  margin-top: 75px;
  margin-bottom: 75px;
  height: 500px;
  background-color: #eee;
}

.footer {
  grid-area: footer;
  background-color: var(--color_scheme1);
  padding: 100px;
  text-align: center;
}


p
{
  font-size: 18px;
  color: var(--color_font);
}