/*
  This is the CSS for all webpages
  TODO: change 'px' to something better for scaling/mobile
  TODO: add @media to rearange the css grid
*/

:root
{
  /* TODO: change this variable name to lr_margin */
  --lr_padding: 20%;    /* left-right padding */

  --color_scheme1: #000;
  --color_button: #999;      /* #20ccf8; */
  --color_font: #333;
}

html, body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



.header h1
{
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: var(--color_dark);
  text-align: center;
}
