
.header
{
  grid-area: header;
}

.header h1
{
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: var(--color_dark);
  text-align: center;
}

p
{
  font-size: 18px;
  color: var(--color_font);
}






.grid-container
{
  display: grid;
  grid-template-areas:
    'navbar1 navbar2 navbar3 navbar4 navbar5'
    'left middle middle middle right'
    'footer footer footer footer footer';

    /*
    Header, navbar lines, and footer should stay the same between each page.
    Left/middle/right represent the layout of the page, you can re-arrange
    per page, or even add more by creating an element with a class in html,
    and giving it grid-area: x in css.
    For example:
      === HTML ===
      <div class='under_main'>
      </div>
      === CSS ===
      grid-template-areas:
        'header header header header header'
        'navbar1 navbar2 navbar3 navbar4 navbar5'
        'left middle middle middle right'
        'under under under under under'
        'footer footer footer footer footer';
      ...
      .under_main
      {
        grid-area: under;
      }
  */
}

@media only screen and (max-width: 600px)
{
  .grid-container
  {
    grid-template-areas:
      'navbar1 navbar1 navbar1 navbar1 navbar1'
      'navbar2 navbar2 navbar2 navbar2 navbar2'
      'navbar3 navbar3 navbar3 navbar3 navbar3'
      'navbar4 navbar4 navbar4 navbar4 navbar4'
      'navbar5 navbar5 navbar5 navbar5 navbar5'
      'left left left left left'
      'middle middle middle middle middle'
      'right right right right right'
      'footer footer footer footer footer';
  }
}



